body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #FFA500, #FFEBCD);
    background-color: #FFCC99; 
}

.login-container {
    background-color: #FF9966; 
    padding: 20px;
    border-radius: 20px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 400px;
    text-align: center;
    border: 3px solid #FF6600; 
}

h2 {
    margin-bottom: 20px;
    color: #333;
}

label {
    display: block;
    margin: 10px 0 5px;
    text-align: left;
    color: #333;
}

.input-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    border: 1px solid #FF6600; 
    border-radius: 5px;
    background-color: #FFF8E1; 
}

.icon {
    padding: 10px;
    background-color: #FFCC66; 
    border-right: 1px solid #FF6600; 
}

input {
    border: none;
    padding: 10px;
    width: 100%;
    border-radius: 0 5px 5px 0;
    outline: none;
    background-color: #FFF8E1; 
}

.button-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    background-color: #FF6600; 
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #CC5200; 
}

.admin-btn {
    background-color: #FF4500; 
}

.admin-btn:hover {
    background-color: #CC3700; 
}

.error-message {
    color: red;
    margin-top: 10px;
    display: none;
}

